* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5;
  }
  :root{
    --text-bg-color:aqua;
  }
  /*navigation bar style*/
  
  #logo-and-nav{
    display:flex;
    justify-content:space-between;
    align-items: center;
    background-color: bisque;
    padding:10px;
  }
  a{
    color: brown;
    font-size: large;
  }
h1{
  background-color:var(--text-bg-color);
}
/*hero banner photo of me and subtitle style*/
.hero-banner{
  display:flex;
  justify-content:space-between;
  align-items:baseline;
  height: 350px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position:relative;
  background-image: url("images/02-hero-bg.jpg")
}
.hero-banner img{
  height: auto;
  width: 200px;
}
.hero-banner h2{
background-color:var(--text-bg-color);
font-size: x-large;
}
/*about me section style*/
.page-wrapper{
  width:80%;
  height: 100%;
  margin:0 auto;
}
#about{
  display: flex;
  justify-content:space-between;
  align-items: center;
}
h3{
  font-size: 48px;
  border-right: solid black; 
  float:inline-start;
}
/* portofolio section work grid*/
.page-section{
  display: grid;
  grid-template-columns: 10% 90%;
  margin:80px 0;
  gap: 10px;
}

.grid-work{
  display:grid;
  height: 600px;
  gap:15px;
  grid-template-columns: 50% 50%;
  grid-template-rows:50% 25% 25%;
  opacity:0.5;
  grid-template-areas:
  "surf surf"
  "led calculator"
  "pastel run";
}
.surf{
  grid-area:surf;
  background-image:url("images/02-portfolio-4.jpg");
  
}
.led{
  grid-area:led;
  background-image: url("images/02-portfolio-1.jpg");
}
.calculator{
   grid-area:calculator;
  background-image: url("images/02-portfolio-2.jpg");
}
.pastel{
  grid-area:pastel;
  background-image:url("images/02-portfolio-3.jpg");
}
.run{
  grid-area:run;
  background-image:url("images/Capture.PNG");
}
#contact{
  display:flex;
  justify-content:stretch;
 align-items: center;
}
h4,
h6{background-color:var(--text-bg-color)

}
/*contact me section style*/
#contact{
  display:flex;
  justify-content: space-between;
}

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
  
  p {
    margin: 0;
  }
  /*media quarey*/